## CSE - 221710310015 -Ettom.Srinija

## File handling
1. create
2. write
3. read
4. append
5. rename

In [1]:
import os
os.rename("sample.txt","demo.txt")

In [5]:
#Q5 from Assigment 4 Day 6(30-05-2020)
os.mkdir("python") #creating folder
for i in range(5): #creating 5 files
    file_name=" " #creating file name
    f= open("C:")  
    for i in range(512): #writing 512 bbits
        f.write("character")

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'python'

In [2]:
pwd

'C:\\Users\\Srinaja'

## Tuple:
1. Immutable
2. Using () , elements are separated by ,
3. Ordered

In [8]:
#Tuple
tup1=(13,3.56,"abc",True)
print(type(tup1))

<class 'tuple'>

In [9]:
print(tup1[2])
print(tup1[-1])

abc
True

In [12]:
l=list(tup1)
l[2]=100
tup1=tuple(l)
tup1
l

[13, 3.56, 100, True]

## Built-in Methods:
1. count()
2. index()

In [14]:
print(tup1.count(13))
print(tup1.index(13))

1
0

In [18]:
#unpacking
tup2=(12,232,4,354)
a,b,c,d=tup1
print(d)

True

In [23]:
#packing
x=10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [24]:
#tuple with sinlge element
y=(10,)
print(type(x))

<class 'tuple'>

### Set:
1. we use {} saperated by ,
2. doesnot allow duplicate values
3. not ordered
4. unindexed
5. mutable

In [25]:
set1={1,2,344,44,5,2,1}
print(set1,end=" ")

{1, 2, 5, 44, 344}

In [26]:
for i in set1:
    print(i,end=" ")

1 2 5 44 344

## Built-in functions
1. len()
2. min()
3. max()

In [19]:
set1={1,2,5,6,45,334}
print(set1)
print(len(set1))
print(max(set1))
print(min(set1))

{1, 2, 5, 6, 45, 334}
6
334
1

In [22]:
#Removing Duplicate methods
list1=[1,2,3,2,3,4,4]
list1=set(list1)
list1

{1, 2, 3, 4}

### Built-in Methods:

### Adding elements:
1. add()

### Removing an element:
1. pop()
2. remove()
3. discard()
4. clear()

In [27]:
set2 =set()
print(type(set2))

<class 'set'>

In [29]:
#Adding an element
set2.add(12)
set2.add(23)
set2

{12, 23}

In [30]:
#Removing elements
set2.pop()

12

In [31]:
set2.remove(12)
set2

KeyError: 12

In [32]:
set2.discard(12)

In [33]:
set2.clear()
set2

set()

In [42]:
#union , difference (A-B or B-A)
#intersection
A={1,2,3,4,5}
B={3,4,5,6,7}
#union A U B ==>{1,2,3,4,5,6,7}
print(A.union(B))  
#difference
print(A.difference(B))#A-B
print(B.difference(A))#B-A
#intersection A and B ==>{3,4,5}
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [43]:
#subset , superset
C={1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C)) #Returns boolean value #True
print(A.issubset(B))#False
print(C.issuperset(B))
print(C.issuperset(A))

True
False
True
True

In [44]:
#disjoint
X={1,2}
Y={23,34,45}
print(A.isdisjoint(B))
print(X.isdisjoint(Y))

False
True

In [45]:
#Symmetric difference
print(A.symmetric_difference(B))
print(A)
print(B)

{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [46]:
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5}
{3, 4, 5, 6, 7}

In [47]:
A.difference_update(B)
print(A)
print(B)

set()
{3, 4, 5, 6, 7}

In [48]:
A.symmetric_difference_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [49]:
A={1,2,3}
B={2,3,4}
print(A.difference(B))#A-B
print(B.difference(A))#B-A
print(A.symmetric_difference(B))
print(A)
print(B)
A.symmetric_difference_update(B)
print(A)
print(B)

{1}
{4}
{1, 4}
{1, 2, 3}
{2, 3, 4}
{1, 4}
{2, 3, 4}

### Dictionary:
1. Syntax: Dictionary name={key1:value1,key2:value2,..}
#### Rules for key:
1. key should be unique
2. keys should be immutable(Ex:tuple,string, numerics)

In [51]:
#creatin a dictionary
dict1={"name":"karthik","emp id":15,"address":"hakimpet"}
print(dict1)

{'name': 'karthik', 'emp id': 15, 'address': 'hakimpet'}

In [52]:
#Extracting an element
print(dict1["emp id"])

15

In [53]:
#Removing or deleting an entry
del dict1["address"]
print(dict1)

{'name': 'karthik', 'emp id': 15}

In [54]:
#adding an entry
dict1["course"]="python"
print(dict1)

{'name': 'karthik', 'emp id': 15, 'course': 'python'}

## Built-in methods:
1. keys()
2. items()
3. values()

In [56]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'emp id', 'course'])
dict_values(['karthik', 15, 'python'])
dict_items([('name', 'karthik'), ('emp id', 15), ('course', 'python')])

In [57]:
#extracting an element
print(dict1["name"])
print(dict1.get("name"))

karthik
karthik

In [58]:
#Adding an entry
dict1["address"]="hyd"
dict1

{'name': 'karthik', 'emp id': 15, 'course': 'python', 'address': 'hyd'}

In [60]:
d={1:1,2:2,3:3}
dict1.update(d)
dict1

{'name': 'karthik',
 'emp id': 15,
 'course': 'python',
 'address': 'hyd',
 1: 1,
 2: 2,
 3: 3}

In [66]:
#Removing an entry ==> pop(),popitem()
dict1.pop("address") #we have to mention the key name
dict1

{'name': 'karthik', 'emp id': 15, 'course': 'python', 2: 2, 3: 3}

In [68]:
dict1.popitem() #it is removing last item and displaying what it removed

(2, 2)