### CSE - 221710310015 - ETTOM.SRINIJA

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
data = {"Student ID":[416,375,400,211,312],
"Communication":[7,6,5,8,9],
"Placed":["Yes","No","No","Yes","Yes"]}

placement_data  =  pd.DataFrame(data)
placement_data

   Student ID  Communication Placed
0         416              7    Yes
1         375              6     No
2         400              5     No
3         211              8    Yes
4         312              9    Yes

#### Communication score should be greater than 6

In [5]:
placement_data['Communication']>6

0     True
1    False
2    False
3     True
4     True
Name: Communication, dtype: bool

In [6]:
st=[311,6]
def placement_prediction(st):
    if st[1]>6:
        return "YES"
    else:
        return "NO"

In [7]:
placement_prediction(st)

'NO'

In [8]:
placement_prediction([45,31.6])

'YES'

### Algorithm , Model :
     Decision Tree Classifier (DTC)
     Available  DTC

#### Decision Tree Classifier
- fit(features,target)/fit(inputs,outputs)
    - Communication
    - Placed
    features 2d array
    places 1d array
- predict

### Get the communication data as 2d Array

In [10]:
placement_data['Communication'].shape

(5,)

In [12]:
placement_data[["Communication","Placed"]]

   Communication Placed
0              7    Yes
1              6     No
2              5     No
3              8    Yes
4              9    Yes

In [14]:
placement_data[["Communication"]]

   Communication
0              7
1              6
2              5
3              8
4              9

In [9]:
import sklearn #Machine learning algorithm
from sklearn.tree import DecisionTreeClassifier #DTC
dtc= DecisionTreeClassifier()
#Training the model
dtc.fit(placement_data[['Communication']],placement_data['Placed'])
#after running the above line we get trained model in dtc

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [15]:
dtc.predict(placement_data[["Communication"]])

array(['Yes', 'No', 'No', 'Yes', 'Yes'], dtype=object)

In [16]:
placement_data["Placed"]

0    Yes
1     No
2     No
3    Yes
4    Yes
Name: Placed, dtype: object

### Now predicting for unknown student data

In [18]:
dtc.predict([[8]])

array(['Yes'], dtype=object)

In [19]:
dtc.predict([[8],[7.5],[3.4]])

array(['Yes', 'Yes', 'No'], dtype=object)

### Labeled and Unlabeled Data
1. labeled means along with placed column
2. unlabeled means without placed column

In [20]:
data3 = {"Student ID":[416,375,400,211],
         "Internal Marks":[25,30,18,15],
         "No of Hours Study":[2,1,2,3],
         "Marks":[76.5,87,59,53.5]}
marks_data2 = pd.DataFrame(data3)
marks_data2

   Student ID  Internal Marks  No of Hours Study  Marks
0         416              25                  2   76.5
1         375              30                  1   87.0
2         400              18                  2   59.0
3         211              15                  3   53.5

In [21]:
marks_data2.iloc[:,1:3]

   Internal Marks  No of Hours Study
0              25                  2
1              30                  1
2              18                  2
3              15                  3

In [22]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
#training the model
lr.fit(marks_data2.iloc[:,1:3],marks_data2["Marks"])
# After this cell the model is trained

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
lr.coef_

array([2.5, 2. ])

In [24]:
lr.intercept_#c

10.0

In [25]:
lr.predict(marks_data2.iloc[:,1:3])

array([76.5, 87. , 59. , 53.5])

In [26]:
marks_data2["Marks"]

0    76.5
1    87.0
2    59.0
3    53.5
Name: Marks, dtype: float64

# Programming:

## Question 1:

In [4]:
#Chef and Strings:
def L(x):return x[1:]+x[0] #Print from first index and then add the element with index 0 in the last
def R(x):return x[-1]+x[0:len(x)-1]
n=int(input()) #4
l1=[input() for i in range(n)]
for x in l1:
    print("YES") if L(x)==R(x) else print("NO")

4
a
aa
abcd
aaaa
YES
YES
NO
YES